spring:
  datasource:
    hikari:
      connectionTimeout: 15000
      maximumPoolSize: 5
    password: {{ secret "postgres_password" }}
    url: jdbc:postgresql://db_database:5432/accountant
    username: postgres
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  jooq:
    sql-dialect: POSTGRES
  main:
    banner-mode: off
  sql:
    init:
      mode: always
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 10MB
      max-request-size: 30MB

server:
  port: 8080

nodrigen:
  service-url: https://bankaccountdata.gocardless.com/api/v2/
  log:
    requests:
      dir: /app/nodrigenRequests

random-org:
  url: https://api.random.org/json-rpc/4/invoke

cron:
  fetch-accounts: "-"
  fetch-accounts-monthly: "-"
  fetch-transactions: "-"

aws:
  intellectual-property-task:
    attachments:
      bucket-name: intellectualpropertytask

pjm:
  fetch: "0 0 17 * * *"