spring:
  datasource:
    hikari:
      connectionTimeout: 15000
      maximumPoolSize: 5
    password: {{ secret "banks_db_password" }}
    url: jdbc:postgresql://db_database:5432/banks
    username: banks
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  jooq:
    sql-dialect: POSTGRES
  main:
    banner-mode: off
  sql:
    init:
      mode: always
  reactor:
    context-propagation: auto

server:
  port: 8080

go-cardless:
  service-url: https://bankaccountdata.gocardless.com/api/v2/

cron:
  fetch-accounts: "0 25 11,15,18 * * *"
  fetch-accounts-monthly: "0 58 23 * * *"
  fetch-transactions: "0 20 11,15,17 * * *"
