spring:
  flyway:
    enabled: true
    clean-disabled: true
  datasource:
    hikari:
      connectionTimeout: 15000
      maximumPoolSize: 5
    password: {{ secret "banks_db_password" }}
    url: jdbc:postgresql://database_postgres:5432/banks
    username: banks
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  jooq:
    sql-dialect: POSTGRES
  main:
    banner-mode: off
  sql:
    init:
      mode: always
  reactor:
    context-propagation: auto

server:
  port: 8080

go-cardless:
  service-url: https://bankaccountdata.gocardless.com/api/v2/

scheduling:
  zone: Europe/Warsaw
  bank-data:
    fetch-accounts: "0 30 11,15,17 * * *"
    fetch-accounts-monthly: "0 58 23 * * *"
    fetch-transactions: "0 45 7,11,15,18 * * *"

email:
  domain: grzegorzewski.pl
  smtp:
    host: smtp-relay.brevo.com
    port: 587
    username: af0e36001@smtp-brevo.com
    password: {{ secret "brevo_smtp_password" }}

cors:
  allowed-origins: https://grzegorzewski.pl
