<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>correlationID</includeMdcKeyName>
            <fieldNames>
                <timestamp>timeStamp</timestamp>
                <message>message</message>
                <logger>logger</logger>
                <thread>thread</thread>
                <level>level</level>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
                <stackTrace>stackTrace</stackTrace>
            </fieldNames>
        </encoder>
    </appender>

    <logger name="org" level="INFO"/>
    <logger name="com" level="INFO"/>
    <logger name="net" level="INFO"/>
    <logger name="pl" level="DEBUG"/>
    <logger name="graphql.execution" level="INFO"/>

    <logger name="pl.sg.application.configuration.SavingRequestsInterceptor" level="TRACE"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
